a{
    display: block;
    background-color: rgba(255, 255, 255, 0);
    width: 10rem;
    height: 100%;
    font-size: 1.3rem;
    text-align: center;
    place-content: center;
    text-decoration: none;
    margin-top: 3rem;
    border-radius: .5rem;
    color: rgb(255, 255, 255);
    padding: 1rem 1rem 1rem 1rem;
    transition: 1s ease;
}

a:hover{
    border-radius: 0rem;
    background-color: rgba(102, 101, 101, 0.541);
}