body{
    margin: 0;
    padding: 0;
}

.cards{
    display: flex;
    margin-left: 2rem;
    margin-top: 1.5rem;
}

.card-container{
    background-color: rgb(218, 0, 0);
    width: 25rem;
    height: 13rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 1rem;
}

.card-container p{
    margin-top: .4rem;
}

.card-container h1{
    margin-bottom: 3rem;
}

.card-container h1{
    font-family: "Roboto";
}