body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgb(12, 12, 54);
    color: white;
}

.title{
    color: rgb(255, 255, 255);
    float: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 3rem;
}


.container-login{
    display: flex;
    width: 40rem;
    height: 30rem;
    margin: 0 auto;
    background-color: rgb(93, 79, 223);
    flex-direction: column;
    justify-content: center;
    border-radius: .4rem;
}

.login-form{
    display: grid;
    place-items: center;
}

.container-login_title{
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 3rem;
}

label{
    font-size: 1.3rem;
    margin-bottom: .3rem;
    margin-top: 1rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

input[type="text"]{
    width: 15rem;
    height: 2rem;
    font-size: 1.1rem;
    border: 1px solid rgba(0, 0, 0, 0.46);
    border-radius: .2rem;
}

.password-form_input{
    margin-bottom: 1rem;
}

input[type="text"]:focus{
    background-color: rgb(118, 219, 205);
}

a{
    font-size: 1.1rem;
    color: red;
}

.login_button{
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    background-color: rgba(44, 235, 44, 1);
    border: 0px;
    border-radius: 2rem;
    cursor: pointer;
}

.login_button:hover{
    background-color: rgba(44, 235, 44, 0.8);
}