@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: rgb(12, 12, 54);
}

.container-register{
    display: flex;
    width: 40rem;
    height: 35rem;
    margin: 0 auto;
    background-color: rgb(93, 79, 223);
    flex-direction: column;
    justify-content: center;
    border-radius: .4rem;
}

.form-register{
    display: grid;
    place-items: center;
}

h1{
    font-family: "Roboto", sans-serif;
    letter-spacing: .1rem;
    color: rgb(255, 255, 255);
}

.form-register_title{
    margin-bottom: 2rem;
}

label{
    font-size:1.1rem;
    color: white;
    font-family: "Roboto", sans-serif;
}

input[type="text"]{
    width: 20rem;
    height: 2rem;
    border-radius: .5rem;
    border: 0px;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    outline: 0;
}

.register-button{
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    background-color: rgba(44, 235, 44, 1);
    border: 0px;
    border-radius: 2rem;
    cursor: pointer;
}
.register-button:hover{
    background-color: rgba(44, 235, 44, 0.8);
}

p{
    font-size: 1.2rem;
}

a{
    font-size: 1.1rem;
    color: red;
}
